*{
    margin: 0;
    padding: 0;
}

body{
    font-family: "Montserrat";
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: rgb(235, 231, 231);
}
.titulo{
    text-align: center;
}
form{
    background-color: white;
    padding: 50px;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    gap: 25px;
    box-shadow: 2px 2px 2px 2px;
}

.campos-formulario{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

input{
    background-color:   rgb(235, 231, 231);
    border-radius: 6px;
    height: 25px;
}

#botao-enviar {
    padding: 10px;
    align-self: center;
    width: 160px;
    border-radius: 20px;
    background-color: rgb(90, 129, 189);
    border: solid 1px rgb(78, 184, 216);
    border-bottom-width: 4px;
    font-size: 16px;
    color: white;
    text-transform: uppercase;
    font-weight: 700;
    margin: 10px;
  }

  #botao-enviar:hover{
    transform: scale(1.1);
    transition-duration: 2ms;
  }

  .sexo{
    display: flex;
    gap: 15px;
    align-items: center;
    font-size: 20px;
  }

  #adicionar-experiencias{
    width: 60%;
    height: 30px;
    border-radius: 10px;
    background-color: rgb(25, 159, 168);
    box-shadow: 2px 2px 2px 2px;
  }

 #adicionar-experiencias:hover{
    transition-duration: 4ms;
    transform: scale(1.04);
  }

  